@{
    ViewData["Title"] = "Snack";
    string myName = "Enrico";
    string mySurname = "Foresta";

    string FullName()
    {
        return $"{myName} - {mySurname}";
    }

    int GetSomma(int n)
    {
        int result = 0;
        for (int i = 1; i <= n; i++)
        {
            result += i;
        }
        return result;
    }

    int CountCharacter(string phrase, string character)
    {
        int count = 0;
        for (int i = 0; i < phrase.Length; i++)
        {
            if (phrase[i].ToString() == character) count++;
        }
        return count;
    }

    List<int> CreateList()
    {
        List<int> lista = new List<int>();
        Random rnd = new Random();

        for (int i = 0; i < 20; i++)
        {
            lista.Add(rnd.Next(1, 91));
        }
        return lista;
    }
}

<div class="text-center">
    <h2 class="fs-1">@FullName()</h2>
    <span> La somma dei numeri è: @GetSomma(100)</span>
    @{
        string frase = "nel mezzo del cammin di nostra vita";
        string carattere = "a";
    }
    <h2> Nella frase "@frase" ci sono @CountCharacter(frase, carattere) @carattere </h2>

    <div>
        @{
            var lista = CreateList().Where(num => num >= 20 && num <= 70).ToList();
            for (int i = 0; i < lista.Count; i++)
            {
                @lista[i]
                if (i < lista.Count - 1)
                {
                    @(", ");
                }
            }
        }
    </div>

    <h2>@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")</h2>

    <h2>Data di 7 giorni fa: @DateTime.Now.AddDays(-7).ToString("dddd, dd MMMM yyyy")</h2>
    <h2>Oggi è: @DateTime.Now.ToString("dddd")</h2>
    <h2>Data tra un anno: @DateTime.Now.AddYears(1).ToString("dddd, dd MMMM yyyy")</h2>
</div>
</div>



@*
    1. Dichiarare una variabile valorizzandola con il nostro nome.
       Dichiarare un'altra variabile valorizzandola con il nostro cognome.
       Stampare il nostro nome e cognome all'interno di un tag h2.
    2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
       Stampare dentro uno span il risultato.

    3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina

    4. Creare una List<int>
    di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70

    5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi

    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina

    a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà  essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà  nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrÃ  essere il nome del giorno (Lunedì, Martedì, ...)*@
